<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" cardClass="tab-card">
            <h5 class="mb-3">Add Regions</h5>
            <ngb-tabset type="pills">
                <ngb-tab title="Add regions individual" class="mb-3">
                    <ng-template ngbTabContent>
                        <form action="javascript:" [formGroup]="regionAddForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Region ID</label>
                                    <input type="number" class="form-control" placeholder="Region ID"
                                        formControlName="RegionID" max="9"
                                        [class.is-invalid]="regionAddForm.controls['RegionID'].invalid && regionAddForm.controls['RegionID'].touched">
                                    <div *ngIf="(regionAddForm.controls['RegionID'].invalid && regionAddForm.controls['RegionID'].touched) || regionAddForm.controls['RegionID'].dirty"
                                        class="text-left">
                                        <small *ngIf="regionAddForm.controls['RegionID'].errors?.required"
                                            class="text-danger">Region ID
                                            is
                                            required!</small>
                                        <!-- <small *ngIf="regionAddForm.controls['RegionID'].errors?.pattern"
                                            class="text-danger">Region ID
                                            should
                                            contain 1 digits!</small> -->
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Region Name</label>
                                    <!-- <input type="text" class="form-control" id="inputEmail4" placeholder="Name of Restaurant"
                            formControlName="RestaurantName" maxlength="30"> -->
                                    <input type="text" class="form-control" placeholder="Region Name"
                                        formControlName="RegionName" max="9">
                                    <div *ngIf="(regionAddForm.controls['RegionName'].invalid && regionAddForm.controls['RegionName'].touched) || regionAddForm.controls['RegionName'].dirty"
                                        class="text-left">
                                        <small *ngIf="regionAddForm.controls['RegionName'].errors?.required"
                                            class="text-danger">Region name
                                            is
                                            required!</small>
                                        <small *ngIf="regionAddForm.controls['RegionName'].errors?.pattern"
                                            class="text-danger">Region name
                                            should
                                            contain 2 digits!</small>
                                    </div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary float-right"
                                [disabled]="!regionAddForm.valid">ADD</button>
                            <button type="submit" class="btn btn-primary float-right">CANCEL</button>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Add regions in Bulk">
                    <ng-template ngbTabContent>
                        <form action="javascript:" [formGroup]="regionsAddCSV" (ngSubmit)="CSVSubmit()">
                            <div class="form-row">
                                <div class="form-group col-md-12 files">
                                    <label>Upload file</label>
                                    <input type="file" accept=".CSV" formControlName="RegionsCSV" class="form-control"
                                    (change)="handleFileInput($event.target.files);"
                                        [class.is-invalid]="regionsAddCSV.controls['RegionsCSV'].invalid && regionsAddCSV.controls['RegionsCSV'].touched"
                                        required>
                                    <div *ngIf="(regionsAddCSV.controls['RegionsCSV'].invalid && regionsAddCSV.controls['RegionsCSV'].touched) || regionsAddCSV.controls['RegionsCSV'].dirty"
                                        class="text-left">
                                        <small *ngIf="regionsAddCSV.controls['RegionsCSV'].errors?.required"
                                            class="text-danger">Please
                                            upload the
                                            CSV</small>
                                        <!--question mark(?) is a safe navigation operator-->
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right text-uppercase"
                                [disabled]="!regionsAddCSV.valid">Upload Now</button>
                            <button type="submit" class="btn btn-primary float-right">CANCEL</button>
                        </form>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </app-card>
    </div>


    <div class="col-sm-12">
        <app-card cardTitle="Regions List">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
                style="width: 100%">
                <thead>
                    <tr>
                        <th>Region ID</th>
                        <th>Regions Name</th>

                    </tr>
                </thead>
                <tbody *ngIf="Regions?.length != 0">
                    <tr *ngFor="let regions of Regions">
                        <td>{{regions.RegionID}}</td>
                        <!-- <td>{{post.RestaurantID}}</td> -->
                        <td>{{regions.RegionName}}</td>

                    </tr>

                </tbody>

                <tbody *ngIf="Regions?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>