<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Restaurant invoices">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width: 100%">
                <thead>
                    <tr>
                        <th>Invoice ID</th>
                        <th>Invoice Created Date</th>
                        <!-- <th>Restaurant ID</th> -->
                        <th>Restaurant Name</th>
                        <th class="text-right">Total Amount</th>
                        <th class="text-right">Sales Tax</th>

                    </tr>
                </thead>
                <tbody *ngIf="invoices?.length != 0">
                    <tr *ngFor="let invoice of invoices">
                        <td>{{invoice.InvoiceID}}</td>
                        <td>{{invoice.InvoiceCreated | date:'medium'}}</td>
                        <!-- <td>{{post.RestaurantID}}</td> -->
                        <td>{{invoice.RestaurantName}}</td>
                        <td class="text-right">{{invoice.TotalAmount | number}}</td>
                        <td class="text-right">{{invoice.SalesTax | number}}</td>

                    </tr>
                </tbody>
                <tbody *ngIf="invoices?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>