<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <h5 class="">Sales Report Filter</h5>
            <hr>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Districts</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="">

                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Regions</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="">

                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Areas</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="">

                    </div>
                    <div class="form-group col-md-4">
                        <label>Restaurant</label>
                        <input type="text" class="form-control" placeholder="">

                    </div>
                    <div class="form-group col-md-4 ">
                        <label>Start date</label>
                        <input type="datetime-local" class="form-control" placeholder="">

                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="exampleInputPassword1">End date</label>
                        <input type="datetime-local" class="form-control" id="exampleInputPassword1" placeholder="">

                    </div>

                </div>

                <hr>
                <button type="submit" class="btn btn-primary float-right">SAVE</button>
                <button type="submit" class="btn btn-primary float-right">CLEAR SEARCH</button>
            </form>

        </app-card>
    </div>
    <div class="col-sm-12">
        <app-card cardTitle="Sales report">
            <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width: 100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Invoice number</th>
                        <th>Restaurant name</th>
                        <th>Sale amount</th>
                       <th>Dates</th>
                    </tr>
                </thead>
                <tbody *ngIf="persons?.length != 0">
                    <tr *ngFor="let person of persons">
                        <td>{{ person.id }}</td>
                        <!-- <td>{{ person.firstName }}</td> -->
                        <td>123456789</td>
                        <td>{{ person.lastName }}</td>
                        <td>1000</td>
                        <td>June 15, 2015 at 9:03:01 AM</td>
                    </tr>
                </tbody>
                <tbody *ngIf="persons?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>