<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <h5 class="">Lucky Draw system</h5>
            <hr>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <b>Lucky Draw ID: </b>
                    <label>
                        {{LuckyDrawDetailList.LuckyDrawID}}
                    </label>
                </div>
                <div class="form-group col-md-4">
                    <b>Lucky draw name </b>
                    <label>
                        {{LuckyDrawDetailList.LDName}}
                    </label>

                </div>
                <div class="form-group col-md-4 ">
                    <b>Start date: </b>
                    <label>
                        {{LuckyDrawDetailList.StartDate | date: 'short' :'GMT+5:00'}}
                    </label>

                </div>
                <div class="form-group col-md-4 ">
                    <b>End date: </b>
                    <label>
                        {{LuckyDrawDetailList.EndDate | date: 'short' :'GMT+5:00'}}
                    </label>

                </div>
                <div class="form-group col-md-4">
                    <b>Points minimum range: </b>
                    <label>
                        {{LuckyDrawDetailList.PointsMinRange}}
                    </label>

                </div>
                <div class="form-group col-md-4 ">
                    <b>Points maximum range: </b>
                    <label>
                        {{LuckyDrawDetailList.PointsMaxRange}}
                    </label>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <h5 class="">Lucky Draw Winner</h5>
            <hr>

            <div class="form-row">
                <div class="form-group col-md-4 ">
                    <b>Name: </b>
                    <label>
                        {{LuckyDrawWinner.Name}}
                    </label>
                </div>
                <div class="form-group col-md-4 ">
                    <b>CNIC: </b>
                    <label>
                        {{LuckyDrawWinner.CNIC}}
                    </label>
                </div>
                <div class="form-group col-md-4 ">
                    <b>Mobile number: </b>
                    <label>
                        {{LuckyDrawWinner.MobileNumber}}
                    </label>
                </div>
                <div class="form-group col-md-6 ">
                    <b>Address: </b>
                    <label>
                        {{LuckyDrawWinner.Address}}
                    </label>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-12">
                    <button class="btn btn-primary float-right" [disabled]="clicked" type="button" (click)='runLottery();clicked = true;'>Lottery</button>

                </div>

            </div>
        </app-card>
    </div>
    <div class="col-sm-12">
        <app-card cardTitle="Participant List">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
                style="width: 100%">
                <thead>
                    <tr>

                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Customer CNIC</th>
                        <th>Mobile #</th>
                        <th>Lucky Draw Points</th>
                    </tr>
                </thead>
                <tbody *ngIf="LuckyDrawParticipantsList?.length != 0">
                    <tr *ngFor="let LuckyDrawParticipants of LuckyDrawParticipantsList">
                        <td>{{LuckyDrawParticipants.CustomerID}}</td>
                        <td>{{LuckyDrawParticipants.Name}}</td>
                        <td>{{LuckyDrawParticipants.CNIC}}</td>
                        <td>{{LuckyDrawParticipants.MobileNumber}}</td>
                        <td>{{LuckyDrawParticipants.LuckyDrawPoints}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="LuckyDrawParticipantsList?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>