input.ng-invalid.ng-dirty{
    border-bottom-color: #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important; 
}
.options{
    margin-top: -13px;
}
.checkbox{
    margin-top: 20px;
}
.permission{
    margin-bottom: 10px;
}