<div class="row"> 
    <div class="col-sm-12">
        <app-card [hidHeader]="true" cardClass="tab-card">
            <!-- <h5 class="mb-3">Comparison Sales Report</h5> -->
            <ngb-tabset type="pills">
                <ngb-tab title="Region" class="mb-3">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr>
                                <form [formGroup]="regionReportsForm" (ngSubmit)="onSubmit()">
                                    <div class="form-row">

                                        <div class="form-group col-md-4">
                                            <label>Region Name</label>
                                            <select id="country" class="form-control" formControlName="RegionName">
                                                <option value="">Select the Region</option>
                                                <option *ngFor="let region of Regions" [value]="region.RegionName">
                                                    {{region.RegionID}} - {{region.RegionName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4" style="margin-top: 29px;">
                                            <button type="submit" class="btn btn-primary">SEARCH</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassD}}"
                                    (click)=RegionGraphDaily()>2-weeks</button>
                                <!-- <button type="submit" class="btn btn-outline-primary mr-2">Weekly</button> -->
                                <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassM}}"
                                    (click)=RegionGraphMonthly()>12-months</button>
                                <button type="submit" class="btn btn-outline-primary {{activeClass}}"
                                    (click)=RegionGraph()>Yearly</button>
                            </div>
                            <div class="col-md-12" *ngIf="isCheck=== true">
                                <apx-chart [series]="chartDB.series" [chart]="chartDB.chart" [xaxis]="chartDB.xaxis"
                                    [title]="chartDB.title"></apx-chart>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Division">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr>
                                <form [formGroup]="divisionReportsForm" (ngSubmit)="onSubmitD()">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>Division Name</label>
                                            <select id="country" class="form-control" formControlName="DivisionName">
                                                <option value="">Select the Division</option>
                                                <option *ngFor="let division of Divisions"
                                                    [value]="division.DivisionName">
                                                    {{division.DivisionID}} - {{division.DivisionName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4" style="margin-top: 29px;">
                                            <button type="submit" class="btn btn-primary">SEARCH</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassD}}"
                                    (click)=DivisionGraphDaily()>2-weeks</button>
                                <!-- <button type="submit" class="btn btn-outline-primary mr-2">Weekly</button> -->
                                <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassM}}"
                                    (click)=DivisionGraphMonthly()>12-months</button>
                                <button type="submit" class="btn btn-outline-primary {{activeClass}}"
                                    (click)=DivisionGraph()>Yearly</button>
                            </div>
                            <div class="col-md-12" *ngIf="isCheck=== true">
                                <apx-chart [series]="chartDB.series" [chart]="chartDB.chart" [xaxis]="chartDB.xaxis"
                                    [title]="chartDB.title"></apx-chart>
                            </div>

                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="District">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr>
                                <form [formGroup]="districtReportsForm" (ngSubmit)="onSubmitDistrict()">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>District Name</label>
                                            <select id="country" class="form-control" formControlName="DistrictName">
                                                <option value="">Select the District</option>
                                                <option *ngFor="let district of Districts"
                                                    [value]="district.DistrictName">
                                                    {{district.DistrictID}} - {{district.DistrictName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4" style="margin-top: 29px;">
                                            <button type="submit" class="btn btn-primary">SEARCH</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassD}}"
                                    (click)=DistrictGraphDaily()>2-weeks</button>
                                <!-- <button type="submit" class="btn btn-outline-primary mr-2">Weekly</button> -->
                                <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassM}}"
                                    (click)=DistrictGraphMonthly()>12-months</button>
                                <button type="submit" class="btn btn-outline-primary {{activeClass}}"
                                    (click)=DistrictGraph()>Yearly</button>
                            </div>
                            <div class="col-md-12" *ngIf="isCheck=== true">
                                <apx-chart [series]="chartDB.series" [chart]="chartDB.chart" [xaxis]="chartDB.xaxis"
                                    [title]="chartDB.title"></apx-chart>
                            </div>

                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="City">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr>
                                <form [formGroup]="cityReportsForm" (ngSubmit)="onSubmitCity()">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>City Name</label>
                                            <select id="country" class="form-control" formControlName="CityName">
                                                <option value="">Select the City</option>
                                                <option *ngFor="let City of CityList" [value]="City.CityName">
                                                    {{City.CityID}} - {{City.CityName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4" style="margin-top: 29px;">
                                            <button type="submit" class="btn btn-primary">SEARCH</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassD}}"
                                    (click)=CityGraphDaily()>2-weeks</button>
                                <!-- <button type="submit" class="btn btn-outline-primary mr-2">Weekly</button> -->
                                <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassM}}"
                                    (click)=CityGraphMonthly()>12-months</button>
                                <button type="submit" class="btn btn-outline-primary {{activeClassD}}"
                                    (click)=CityGraph()>Yearly</button>
                            </div>
                            <div class="col-md-12" *ngIf="isCheck=== true">
                                <apx-chart [series]="chartDB.series" [chart]="chartDB.chart" [xaxis]="chartDB.xaxis"
                                    [title]="chartDB.title"></apx-chart>
                            </div>

                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Restaurant">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr>
                                <form [formGroup]="restaurantReportsForm" (ngSubmit)="onSubmitRestaurant()">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>Restaurant</label>
                                            <!-- <input type="text" class="form-control" placeholder=""> -->
                                            <select class="form-control" formControlName="RestaurantName">
                                                <option value="">Select Restaurant</option>
                                                <!-- <option>Choose Restaurant</option> -->
                                                <option *ngFor="let listR of RestaurantList">{{listR.RestaurantName}}
                                                </option>
                                            </select>


                                        </div>
                                        <div class="form-group col-md-4" style="margin-top: 29px;">
                                            <button type="submit" class="btn btn-primary">SEARCH</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassD}}"
                                    (click)=RestaurantGraphDaily()>2-weeks</button>
                                <!-- <button type="submit" class="btn btn-outline-primary mr-2">Weekly</button> -->
                                <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassM}}"
                                    (click)=RestaurantGraphMonthly()>12-months</button>
                                <button type="submit" class="btn btn-outline-primary {{activeClass}}"
                                    (click)=RestaurantGraph()>Yearly</button>
                            </div>
                            <div class="col-md-12" *ngIf="isCheck=== true">
                                <apx-chart [series]="chartDB.series" [chart]="chartDB.chart" [xaxis]="chartDB.xaxis"
                                    [title]="chartDB.title"></apx-chart>
                            </div>

                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </app-card>
    </div>
</div>