<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" cardClass="tab-card">
            <h5 class="mb-3">Add District </h5>
            <ngb-tabset type="pills">
                <ngb-tab title="Add district  individual" class="mb-3">
                    <ng-template ngbTabContent>
                        <form action="javascript:" [formGroup]="districtAddForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    <label>District ID</label>
                                    <input type="number" class="form-control" placeholder="District ID"
                                        formControlName="DistrictID" max="9">
                                    <div *ngIf="(districtAddForm.controls['DistrictID'].invalid && districtAddForm.controls['DistrictID'].touched) || districtAddForm.controls['DistrictID'].dirty"
                                        class="text-left">
                                        <small *ngIf="districtAddForm.controls['DistrictID'].errors?.required"
                                            class="text-danger">District ID
                                            is
                                            required!</small>
                                        <small *ngIf="districtAddForm.controls['DistrictID'].errors?.pattern"
                                            class="text-danger">District ID
                                            should
                                            contain 2 digits!</small>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>District Name</label>
                                    <input type="text" class="form-control" placeholder="District Name"
                                        formControlName="DistrictName" max="9">
                                    <div *ngIf="(districtAddForm.controls['DistrictName'].invalid && districtAddForm.controls['DistrictName'].touched) || districtAddForm.controls['DistrictName'].dirty"
                                        class="text-left">
                                        <small *ngIf="districtAddForm.controls['DistrictName'].errors?.required"
                                            class="text-danger">District name
                                            is
                                            required!</small>
                                        <!-- <small *ngIf="districtAddForm.controls['DistrictName'].errors?.pattern"
                                            class="text-danger">Division name
                                            number should
                                            contain 9 digits!</small> -->
                                    </div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary float-right"
                                [disabled]="!districtAddForm.valid">ADD</button>
                            <button type="submit" class="btn btn-primary float-right">CANCEL</button>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Add district in Bulk">
                    <ng-template ngbTabContent>
                        <form action="javascript:" [formGroup]="regionsAddCSV" (ngSubmit)="CSVSubmit()">
                            <div class="form-row">
                                <div class="form-group col-md-12 files">
                                    <label>Upload CSV</label>
                                    <input type="file" #Image accept=".CSV" formControlName="DistrictsCSV"
                                    (change)="handleFileInput($event.target.files);"
                                        [class.is-invalid]="regionsAddCSV.controls['DistrictsCSV'].invalid && regionsAddCSV.controls['DistrictsCSV'].touched"
                                        required>
                                    <div *ngIf="(regionsAddCSV.controls['DistrictsCSV'].invalid && regionsAddCSV.controls['DistrictsCSV'].touched) || regionsAddCSV.controls['DistrictsCSV'].dirty"
                                        class="text-left">
                                        <small *ngIf="regionsAddCSV.controls['DistrictsCSV'].errors?.required"
                                            class="text-danger">Please
                                            upload the
                                            CSV</small>
                                        <!--question mark(?) is a safe navigation operator-->
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right text-uppercase"
                                [disabled]="!regionsAddCSV.valid">Upload now</button>
                            <button type="submit" class="btn btn-primary float-right">CANCEL</button>
                        </form>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </app-card>
    </div>
    <div class="col-sm-12">
        <app-card cardTitle="District List">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
                style="width: 100%">
                <thead>
                    <tr>
                        <th>District ID</th>
                        <th>Districts Name</th>

                    </tr>
                </thead>
                <tbody *ngIf="Districts?.length != 0">
                    <tr *ngFor="let district of Districts">
                        <td>{{district.DistrictID}}</td>
                        <!-- <td>{{post.RestaurantID}}</td> -->
                        <td>{{district.DistrictName}}</td>

                    </tr>

                </tbody>

                <tbody *ngIf="Districts?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>