<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" [options]="false">
      <hr>
      <form action="javascript:" [formGroup]="restaurantAddForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">Restaurant Name</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Name of Restaurant"
              formControlName="RestaurantName" maxlength="30">
            <div
              *ngIf="(restaurantAddForm.controls['RestaurantName'].invalid && restaurantAddForm.controls['RestaurantName'].touched) || restaurantAddForm.controls['RestaurantName'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['RestaurantName'].errors?.required" class="text-danger">Name of
                Restaurant
                is
                required!</small>
              <!--question mark(?) is a safe navigation operator-->
              <small *ngIf="restaurantAddForm.controls['RestaurantName'].errors?.pattern" class="text-danger">Name
                should be greater than 3 alphabets!</small>
            </div>
          </div>
 
          <div class="form-group col-md-4">
            <label for="inputEmail4">KNTN</label>
            <input type="number" class="form-control" id="inputEmail4" placeholder="KNTN Number" formControlName="NTN"
              max="9">
            <div
              *ngIf="(restaurantAddForm.controls['NTN'].invalid && restaurantAddForm.controls['NTN'].touched) || restaurantAddForm.controls['NTN'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['NTN'].errors?.required" class="text-danger">NTN Number
                is
                required!</small>
              <!--question mark(?) is a safe navigation operator-->
              <small *ngIf="restaurantAddForm.controls['NTN'].errors?.pattern" class="text-danger">NTN number should
                contain 9 digits!</small>
            </div>
          </div>
          <!-- <div class="form-group col-md-4">
            <label for="inputEmail4">NTN Number / CNIC</label>
            <input type="number" class="form-control" id="inputEmail4" placeholder="NTN Number / CNIC"
              formControlName="CNICNo" maxlength="13" minlength="13">
            <div
              *ngIf="(restaurantAddForm.controls['CNICNo'].invalid && restaurantAddForm.controls['CNICNo'].touched) || restaurantAddForm.controls['CNICNo'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['CNICNo'].errors?.required" class="text-danger">NTN or CNIC
                Number is
                required!</small>
              <small *ngIf="restaurantAddForm.controls['CNICNo'].errors?.pattern" class="text-danger">CNIC should be of
                13
                Digits</small>
            </div>
          </div> -->
          <!-- <div class="form-group col-md-4">
              <label for="inputEmail4">WeekDay Timings</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="Open Time" onfocus="(this.type='time')" formControlName="WeekdaysOpenTime">
              <div
                *ngIf="(restaurantAddForm.controls['WeekdaysOpenTime'].invalid && restaurantAddForm.controls['WeekdaysOpenTime'].touched) || restaurantAddForm.controls['WeekdaysOpenTime'].dirty"
                class="text-left">
                <small *ngIf="restaurantAddForm.controls['WeekdaysOpenTime'].errors?.required" class="text-danger">Open Time is
                  required!</small>
              </div>
              <input type="text" class="form-control" placeholder="Close Time" onfocus="(this.type='time')" formControlName="WeekdaysCloseTime">
              <div
                *ngIf="(restaurantAddForm.controls['WeekdaysCloseTime'].invalid && restaurantAddForm.controls['WeekdaysCloseTime'].touched) || restaurantAddForm.controls['WeekdaysCloseTime'].dirty"
                class="text-left">
                <small *ngIf="restaurantAddForm.controls['WeekdaysCloseTime'].errors?.required" class="text-danger">Close Time is
                  required!</small>
              </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">WeekEnd Timings</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Open Time" onfocus="(this.type='time')" formControlName="WeekendOpenTime">
            <div
              *ngIf="(restaurantAddForm.controls['WeekendOpenTime'].invalid && restaurantAddForm.controls['WeekendOpenTime'].touched) || restaurantAddForm.controls['WeekendOpenTime'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['WeekendOpenTime'].errors?.required" class="text-danger">Open Time is
                required!</small>
            </div>
            <input type="text" class="form-control" placeholder="Close Time" onfocus="(this.type='time')" formControlName="WeekendCloseTime">
            <div
              *ngIf="(restaurantAddForm.controls['WeekendCloseTime'].invalid && restaurantAddForm.controls['WeekendCloseTime'].touched) || restaurantAddForm.controls['WeekendCloseTime'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['WeekendCloseTime'].errors?.required" class="text-danger">Close Time is
                required!</small>
            </div>
        </div> -->
          <div class="form-group col-md-4">
            <label>Restaurant Category</label>
            <select id="country" class="form-control" formControlName="RestaurantCategoryInfo"
              (change)="getRestaurantCategory($event.target.value)">
              <option value="">Select the Category</option>
              <option *ngFor="let category of CategoryList" [value]="category.CategoryID + category.CategoryName">
                {{category.CategoryName}}
              </option>
            </select>
            <!-- <input type="text" class="form-control" 
              formControlName="categoryName" maxlength="10" placeholder="Add New Category">
              <button (click) = "addCategory()">ADD</button>
              <p *ngIf = "this.DisplayMessage"> Added Successfully!</p> -->
          </div>
          <div class="form-group col-md-4">
            <label>Restaurant Verified</label>
            <select id="country" class="form-control" formControlName="RestaurantVerified">
              <option value="False">No</option>
              <option value="True">Yes</option>
            </select>
          </div>

          <div class="col-md-4">
            <div class="form-group" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}">
                <label>City Name</label>
                <ng-multiselect-dropdown [placeholder]="'Select city'"
                    [settings]="dropdownSettings" [data]="CityList" formControlName="CityName"
                    name="CityName" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <div *ngIf="(restaurantAddForm.controls['CityName'].invalid && restaurantAddForm.controls['CityName'].touched) || restaurantAddForm.controls['CityName'].dirty"
                    class="text-left">
                    <small *ngIf="restaurantAddForm.controls['CityName'].errors?.required"
                        class="text-danger">City name
                        is
                        required!</small>
                </div>
            </div>
        </div>

          <div class="form-group col-md-4">
            <label for="inputAddress">Address</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="1234 Main St"
              formControlName="Address" maxlength="250"></textarea>
            <div
              *ngIf="(restaurantAddForm.controls['Address'].invalid && restaurantAddForm.controls['Address'].touched) || restaurantAddForm.controls['Address'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['Address'].errors?.required" class="text-danger">Address is
                required!</small>
              <!--question mark(?) is a safe navigation operator-->
              <!-- <small *ngIf="forHolidays.errors?.pattern" class="text-danger">Should be days</small> -->
            </div>
          </div>
          <!-- <div class="form-group col-md-4">
            <label for="inputEmail4">Total Devices Connected</label>
            <input type="number" class="form-control" id="inputEmail4" placeholder="Total number of Devices connected"
              formControlName="TotalDevices">
            <div
              *ngIf="(restaurantAddForm.controls['TotalDevices'].invalid && restaurantAddForm.controls['TotalDevices'].touched) || restaurantAddForm.controls['TotalDevices'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['TotalDevices'].errors?.required" class="text-danger">Total
                number of Devices connected is required!</small>
              <small *ngIf="restaurantAddForm.controls['TotalDevices'].errors?.pattern" class="text-danger">Only digits
                are allowed and less than 100!</small>
            </div>
          </div> -->
          <!-- <div class="form-group col-md-4">
            <label for="inputEmail4">Holidays</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Holidays" formControlName="Holidays" maxlength="50">
            <div
              *ngIf="(restaurantAddForm.controls['Holidays'].invalid && restaurantAddForm.controls['Holidays'].touched) || restaurantAddForm.controls['Holidays'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['Holidays'].errors?.required" class="text-danger">Holidays are
                required!</small>
            </div>
          </div> -->
          <!-- <div class="form-group col-md-4">
            <label for="inputState">Menu Information</label>
            <select id="inputState" class="form-control">
              <option selected>select</option>
              <option>Large select</option>
            </select>
          </div> -->
          <!-- <div class="form-group col-md-4">
            <label for="inputEmail4">Devices Connected</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Sales Tax Number"
              formControlName="DevicesConnected" maxlength="30">
            <div
              *ngIf="(restaurantAddForm.controls['DevicesConnected'].invalid && restaurantAddForm.controls['DevicesConnected'].touched) || restaurantAddForm.controls['DevicesConnected'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['DevicesConnected'].errors?.required" class="text-danger">Devices
                Connected Info is
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Registered Tablet Devices Information</label>
            <input type="text" class="form-control" id="inputEmail4" formControlName="TabletInfo" maxlength="30">
            <div
              *ngIf="(restaurantAddForm.controls['TabletInfo'].invalid && restaurantAddForm.controls['TabletInfo'].touched) || restaurantAddForm.controls['TabletInfo'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['TabletInfo'].errors?.required" class="text-danger">Tablet Info
                is
                required!</small>
            </div>
            <small>MAC-Address</small>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4"></label>
            <input type="text" class="form-control" id="inputEmail4" formControlName="NameOfDevice" maxlength="20">
            <div
              *ngIf="(restaurantAddForm.controls['NameOfDevice'].invalid && restaurantAddForm.controls['NameOfDevice'].touched) || restaurantAddForm.controls['NameOfDevice'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['NameOfDevice'].errors?.required" class="text-danger">Name of
                Device is
                required!</small>
            </div>
            <small>Name of device</small>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4"></label>
            <input type="text" class="form-control" id="inputEmail4" formControlName="ModelOfDevice" maxlength="20">
            <div
              *ngIf="(restaurantAddForm.controls['ModelOfDevice'].invalid && restaurantAddForm.controls['ModelOfDevice'].touched) || restaurantAddForm.controls['ModelOfDevice'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['ModelOfDevice'].errors?.required" class="text-danger">Model of
                Device is
                required!</small>
            </div>
            <small>Model of device</small>
          </div> -->
          <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="Checked">
            <div
              *ngIf="(restaurantAddForm.controls['Checked'].invalid && restaurantAddForm.controls['Checked'].touched) || restaurantAddForm.controls['Checked'].dirty"
              class="text-left">
              <small *ngIf="restaurantAddForm.controls['Checked'].errors?.required" class="text-danger">Should be
                checked!</small>
            </div>
            <label class="form-check-label" for="exampleCheck1">I Agree to Term & Conditions</label>
          </div> -->
        </div>


        <button type="submit" class="btn btn-primary float-right" *ngIf="!this.ADDorEDIT"
          [disabled]="!restaurantAddForm.valid">ADD</button>
        <button type="submit" class="btn btn-primary float-right" *ngIf="this.ADDorEDIT"
          [disabled]="!restaurantAddForm.valid">SAVE CHANGES</button>
        <button type="submit" class="btn btn-primary float-right" (click)=canceled()>CANCEL</button>
      </form>
    </app-card>
  </div>

</div>