<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <h5 class="">Sales Report Filter</h5>
            <hr>
            <form [formGroup]="saleReportsForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Region Name</label>
                        <select id="country" class="form-control" formControlName="RegionName">
                            <option value="">Select the Region</option>
                            <option *ngFor="let region of Regions" [value]="region.RegionName">
                                {{region.RegionID}} - {{region.RegionName}}
                            </option>
                        </select> 
                        <!-- <div *ngIf="(saleReportsForm.controls['RegionName'].invalid && saleReportsForm.controls['RegionName'].touched) || saleReportsForm.controls['RegionName'].dirty"
                            class="text-left">
                            <small *ngIf="saleReportsForm.controls['RegionName'].errors?.required"
                                class="text-danger">Region Name
                                is
                                required!</small>
                        </div> -->
                    </div>
                    <div class="form-group col-md-4">
                        <label>Division Name</label>
                        <select id="country" class="form-control" formControlName="DivisionName">
                            <option value="">Select the Division</option>
                            <option *ngFor="let division of Divisions" [value]="division.DivisionName">
                                {{division.DivisionID}} - {{division.DivisionName}}
                            </option>
                        </select>
                        <!-- <div *ngIf="(saleReportsForm.controls['DivisionName'].invalid && saleReportsForm.controls['DivisionName'].touched) || saleReportsForm.controls['DivisionName'].dirty"
                            class="text-left">
                            <small *ngIf="saleReportsForm.controls['DivisionName'].errors?.required"
                                class="text-danger">Division Name
                                is
                                required!</small>

                        </div> -->
                    </div>
                    <div class="form-group col-md-4">
                        <label>District Name</label>
                        <select id="country" class="form-control" formControlName="DistrictName">
                            <option value="">Select the Division</option>
                            <option *ngFor="let district of Districts" [value]="district.DistrictName">
                                {{district.DistrictID}} - {{district.DistrictName}}
                            </option>
                        </select>
                        <!-- <div *ngIf="(saleReportsForm.controls['DistrictName'].invalid && saleReportsForm.controls['DistrictName'].touched) || saleReportsForm.controls['DistrictName'].dirty"
                            class="text-left">
                            <small *ngIf="saleReportsForm.controls['DistrictName'].errors?.required"
                                class="text-danger">Division Name
                                is
                                required!</small>

                        </div> -->
                    </div>

                    <div class="form-group col-md-4">
                        <label>City Name</label>
                        <select id="country" class="form-control" formControlName="CityName">
                            <option value="">Select the City</option>
                            <option *ngFor="let City of CityList" [value]="City.CityName">
                                {{City.CityID}} - {{City.CityName}}
                            </option>
                        </select>
                        <!-- <div *ngIf="(saleReportsForm.controls['DistrictName'].invalid && saleReportsForm.controls['DistrictName'].touched) || saleReportsForm.controls['DistrictName'].dirty"
                            class="text-left">
                            <small *ngIf="saleReportsForm.controls['DistrictName'].errors?.required"
                                class="text-danger">Division Name
                                is
                                required!</small>

                        </div> -->
                    </div>
                    <!-- <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Districts</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="">

                    </div> -->
                    <!-- <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Regions</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="">

                    </div> -->
                    <!-- <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Areas</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="">

                    </div> -->
                    <div class="form-group col-md-4">
                        <label>Restaurant</label>
                        <!-- <input type="text" class="form-control" placeholder=""> -->
                        <select class="form-control" formControlName="RestaurantName">
                            <option value="">Select Restaurant</option>
                            <!-- <option>Choose Restaurant</option> -->
                            <option *ngFor="let listR of RestaurantList">{{listR.RestaurantName}}</option>
                        </select>
            

                    </div>
                    <div class="form-group col-md-4 ">
                        <label>Start date</label>
                        <input type="datetime-local" class="form-control" placeholder="" formControlName="StartDate">

                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="exampleInputPassword1">End date</label>
                        <input type="datetime-local" class="form-control" id="exampleInputPassword1" placeholder="" formControlName="EndDate">

                    </div>
                    <!-- <div class="form-group col-md-4">
                        <label>Min total amount</label>
                        <input class="form-control" type="number" name="min" id="min" [(ngModel)]="min" />

                    </div>
                    <div class="form-group col-md-4">
                        <label>Max total amount</label>
                        <input class="form-control" type="number" name="max" id="max" [(ngModel)]="max" />

                    </div> -->
                    <!-- <label>
                        Min 
                        <input class="form-control" type="number" name="min" id="min" [(ngModel)]="min" />
                      </label> -->
                    <!-- <label>
                        Max
                        <input type="number" name="max" id="max" [(ngModel)]="max" />
                      </label> -->

                </div>

                <hr>
                <button type="submit" class="btn btn-primary float-right">SEARCH</button>
               </form>
               <button type="submit" class="btn btn-primary float-right" (click)=clearSearch()>CLEAR SEARCH</button>
            
            <!-- <form (submit)="filterById()">
             
                <button class="btn btn-primary" type="submit">Filter by ID</button>
              </form> -->
            <br />
        </app-card>
    </div>
    <div class="col-sm-12">
        <app-card cardTitle="Sales report">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
                style="width: 100%"> 
                <thead>
                    <tr>
                        <th>Invoice ID</th>
                        <th>Invoice Created Date</th>
                        <!-- <th>Restaurant ID</th> -->
                        <th>Restaurant Name</th>
                        <th class="text-right">Total Amount</th>
                        <th class="text-right">Sales Tax</th>

                    </tr>
                </thead>
                <tbody *ngIf="invoices?.length != 0">
                    <tr *ngFor="let invoice of invoices">
                        <td>{{invoice.InvoiceID}}</td>
                        <td>{{invoice.InvoiceCreated | date:'medium'}}</td>
                        <!-- <td>{{post.RestaurantID}}</td> -->
                        <td>{{invoice.RestaurantName}}</td>
                        <td class="text-right">{{invoice.TotalAmount | number}}</td>
                        <td class="text-right">{{invoice.SalesTax | number}}</td>

                    </tr>

                </tbody>
                <!-- <tfoot>
                    <tr>
                        <th><input type="text" placeholder="Invoice ID" name="invoice-id" /></th>
                        <th><input type="datetime-local" placeholder="Search ID" name="datetime-local" /></th>
                        <th><input type="text" placeholder="Restaurant Name" name="restaurant-name" /></th>
                        <th><input type="text" placeholder="Total Amount" name="total-amount" /></th>
                        <th><input type="text" placeholder="Sales Tax" name="salestax" /></th>
                    </tr>
                </tfoot> -->
                <tbody *ngIf="invoices?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>