<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <h5 class="">Lucky Draw system</h5>
            <hr>
            <form action="javascript:" [formGroup]="luckyDrawAddForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <!-- <div class="form-group col-md-4">
                        <label for="inputEmail4">KNTN</label>
                        <input type="number" class="form-control" id="inputEmail4" placeholder="KNTN Number" formControlName="NTN"
                          max="9">
                        <div
                          *ngIf="(restaurantAddForm.controls['NTN'].invalid && restaurantAddForm.controls['NTN'].touched) || restaurantAddForm.controls['NTN'].dirty"
                          class="text-left">
                          <small *ngIf="restaurantAddForm.controls['NTN'].errors?.required" class="text-danger">NTN Number
                            is
                            required!</small>
                          <small *ngIf="restaurantAddForm.controls['NTN'].errors?.pattern" class="text-danger">NTN number should
                            contain 9 digits!</small>
                        </div>
                      </div> -->
                    <div class="form-group col-md-4">
                        <label>Lucky Draw Name</label>
                        <input type="text" class="form-control" formControlName="luckyDrawName" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Lucky Draw Name">
                        <div *ngIf="(luckyDrawAddForm.controls['luckyDrawName'].invalid && luckyDrawAddForm.controls['luckyDrawName'].touched) || luckyDrawAddForm.controls['luckyDrawName'].dirty"
                            class="text-left">
                            <small *ngIf="luckyDrawAddForm.controls['luckyDrawName'].errors?.required"
                                class="text-danger">Lucky Draw Name
                                is
                                required!</small>
                            <!-- <small *ngIf="luckyDrawAddForm.controls['NTN'].errors?.pattern" class="text-danger">Lucky Draw Name should
                            contain 9 digits!</small> -->
                        </div>
                        <!-- <div *ngIf="(locationConfigForm.controls['RegionName'].invalid && locationConfigForm.controls['RegionName'].touched) || locationConfigForm.controls['RegionName'].dirty"
                            class="text-left">
                            <small *ngIf="locationConfigForm.controls['RegionName'].errors?.required"
                                class="text-danger">Region Name
                                is
                                required!</small>
                        </div> -->
                    </div>
                    <div class="form-group col-md-4 ">
                        <label>Start date</label>
                        <input type="datetime-local" class="form-control" formControlName="startDate">
                        <div *ngIf="(luckyDrawAddForm.controls['startDate'].invalid && luckyDrawAddForm.controls['startDate'].touched) || luckyDrawAddForm.controls['startDate'].dirty"
                            class="text-left">
                            <small *ngIf="luckyDrawAddForm.controls['startDate'].errors?.required"
                                class="text-danger">Lucky Draw start date
                                is
                                required!</small>
                            <!-- <small *ngIf="luckyDrawAddForm.controls['NTN'].errors?.pattern" class="text-danger">Lucky Draw Name should
                        contain 9 digits!</small> -->
                        </div>
                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="exampleInputPassword1">End date</label>
                        <input type="datetime-local" class="form-control" id="exampleInputPassword1"
                            formControlName="endDate">
                        <div *ngIf="(luckyDrawAddForm.controls['endDate'].invalid && luckyDrawAddForm.controls['endDate'].touched) || luckyDrawAddForm.controls['endDate'].dirty"
                            class="text-left">
                            <small *ngIf="luckyDrawAddForm.controls['endDate'].errors?.required"
                                class="text-danger">Lucky Draw End date
                                is
                                required!</small>
                            <!-- <small *ngIf="luckyDrawAddForm.controls['NTN'].errors?.pattern" class="text-danger">Lucky Draw Name should
                        contain 9 digits!</small> -->
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Points minimum range</label>
                        <input type="number" class="form-control" formControlName="pointMinRange"
                            placeholder="Points minimum range">
                        <div *ngIf="(luckyDrawAddForm.controls['pointMinRange'].invalid && luckyDrawAddForm.controls['pointMinRange'].touched) || luckyDrawAddForm.controls['pointMinRange'].dirty"
                            class="text-left">
                            <small *ngIf="luckyDrawAddForm.controls['pointMinRange'].errors?.required"
                                class="text-danger">Points minimum range
                                is
                                required!</small>
                            <!-- <small *ngIf="luckyDrawAddForm.controls['NTN'].errors?.pattern" class="text-danger">Lucky Draw Name should
                            contain 9 digits!</small> -->
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Points maximum range</label>
                        <input type="number" class="form-control" formControlName="pointMaxRange"
                            placeholder="Points maximum range">
                        <div *ngIf="(luckyDrawAddForm.controls['pointMaxRange'].invalid && luckyDrawAddForm.controls['pointMaxRange'].touched) || luckyDrawAddForm.controls['pointMaxRange'].dirty"
                            class="text-left">
                            <small *ngIf="luckyDrawAddForm.controls['pointMaxRange'].errors?.required"
                                class="text-danger">Points maximum range
                                is
                                required!</small>
                            <!-- <small *ngIf="luckyDrawAddForm.controls['NTN'].errors?.pattern" class="text-danger">Lucky Draw Name should
                            contain 9 digits!</small> -->
                        </div>
                    </div>
                    <!-- <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Districts</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="">

                    </div> -->
                    <!-- <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Regions</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="">

                    </div> -->
                    <!-- <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Areas</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="">
                    </div> -->
                    <!-- <div class="form-group col-md-4">
                        <label>Min total amount</label>
                        <input class="form-control" type="number" name="min" id="min" [(ngModel)]="min" />

                    </div>
                    <div class="form-group col-md-4">
                        <label>Max total amount</label>
                        <input class="form-control" type="number" name="max" id="max" [(ngModel)]="max" />

                    </div> -->
                    <!-- <label>
                        Min 
                        <input class="form-control" type="number" name="min" id="min" [(ngModel)]="min" />
                      </label> -->
                    <!-- <label>
                        Max
                        <input type="number" name="max" id="max" [(ngModel)]="max" />
                      </label> -->

                </div>

                <hr>
                <button type="submit" class="btn btn-primary float-right">ADD</button>
                <button type="submit" class="btn btn-primary float-right">CLEAR</button>
            </form>
            <!-- <form (submit)="filterById()">
             
                <button class="btn btn-primary" type="submit">Filter by ID</button>
              </form> -->
            <br />
        </app-card>
    </div>

    <div class="col-sm-12">
        <app-card cardTitle="City List">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
                style="width: 100%">
                <thead>
                    <tr>
                        <th>Lucky Draw ID</th>
                        <th>Lucky Draw Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Min Point</th>
                        <th>Max Point</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="LuckyDrawList?.length != 0">
                    <tr *ngFor="let luckyDraw of LuckyDrawList">
                        <td>{{luckyDraw.LuckyDrawID}}</td>
                        <td>{{luckyDraw.LDName}}</td>
                        <td>{{luckyDraw.StartDate | date: 'short' :'GMT+5:00'}}</td>
                        <td>{{luckyDraw.EndDate | date: 'short' :'GMT+5:00'}}</td>
                        <td>{{luckyDraw.PointsMinRange}}</td>
                        <td>{{luckyDraw.PointsMaxRange}}</td>
                        <td class="badge-success mt-2">{{luckyDraw.Status}}</td>
                        <td class="">
                            <div class="overlay-edit text-center">
                                <button type="button" class="btn btn-icon btn-secondary circle-btn-icon"
                                    (click)=viewLuckyDraw(luckyDraw.LuckyDrawID)
                                    title="Access restaurant profile"><i class="feather icon-eye"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="LuckyDrawList?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>