<div class="row">
    <div class="col-xl-12">
        <app-card [hidHeader]="true" blockClass="table-border-style">
            <div class="" style="
            display: inline-grid;
        ">
                <!-- <h4 class="float-left">Restaurants</h4> -->
                <h5>Staff Restaurant</h5>
                <button type="button" style="
                right: 30px;
                position: absolute;
            " class="btn btn-icon btn-success float-right" (click) = addStaff()>ADD
                    NEW</button>
                <hr>
            </div>
            <div class="table-responsive">
                <table datatable="" class="table table-striped row-border table-hover dataTable" id="DataTables_Table_0"
                    role="grid" aria-describedby="DataTables_Table_0_info">
                    <tbody>
                        <tr role="row">
                            <td class="sorting_1">
                                <div class="d-inline-block align-middle"><img src="assets/images/user/avatar-4.jpg"
                                        alt="user image" class="img-radius align-top m-r-15" style="width: 40px;">
                                    <div class="d-inline-block">
                                        <h6 class="m-b-0">Safi</h6>
                                        <p class="m-b-0">Branch Manager</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="overlay-edit text-center">
                                    <button type="button" class="btn btn-icon btn-danger mr-2"
                                        (click)="modalDefault.show()">Delete</button>
                                    <button type="button" class="btn btn-icon btn-success mr-2"
                                        [routerLink]="['/staff/staff-add']">Edit</button>
                                        <button type="button" class="btn btn-icon btn-light"
                                        [routerLink]="['/staff/staff-detail']">View</button>
                                </div>
                            </td>
                        </tr>
                        <tr role="row">
                            <td class="sorting_1">
                                <div class="d-inline-block align-middle"><img src="assets/images/user/avatar-3.jpg"
                                        alt="user image" class="img-radius align-top m-r-15" style="width: 40px;">
                                    <div class="d-inline-block">
                                        <h6 class="m-b-0">Aswad Hassan</h6>
                                        <p class="m-b-0">Staff manager</p>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="overlay-edit text-center">
                                    <button type="button" class="btn btn-icon btn-danger mr-2"
                                        (click)="modalDefault.show()">Delete</button>
                                    <button type="button" class="btn btn-icon btn-success mr-2"
                                        [routerLink]="['/staff/staff-add']">Edit</button>
                                        <button type="button" class="btn btn-icon btn-light"
                                        [routerLink]="['/staff/staff-detail']">View</button>
                                </div>
                            </td>
                        </tr>
                        <!-- ........................................................ -->
                        <tr role="row" class="even" *ngIf="this.cancel">
                            <td class="sorting_1">
                                <div class="d-inline-block align-middle"><img src="assets/images/user/avatar-3.jpg"
                                        alt="user image" class="img-radius align-top m-r-15" style="width: 40px;">
                                    <div class="d-inline-block">
                                        <h6 class="m-b-0">{{this.Staff.value.StaffName}}</h6>
                                        <p class="m-b-0">Contact Number: {{this.Staff.value.ContactNumber}}</p>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="overlay-edit text-center">
                                    <button type="button" class="btn btn-icon btn-danger mr-2"
                                        (click)="modalDefault.show()">Delete</button>
                                    <button type="button" class="btn btn-icon btn-success"
                                    (click)=editStaff()>Edit</button>
                                    <button type="button" class="btn btn-icon btn-light"
                                    [routerLink]="['/staff/staff-detail']">View</button>
                                </div>
                            </td>
                        </tr>
                        <!-- ..................................................................... -->
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>
<app-ui-modal #modalDefault>
    <div class="app-modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
            (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <p>Are you sure to delete this Staff?</p>
        <div class="d-inline-block align-middle"><img src="assets/images/user/avatar-4.jpg"
            alt="user image" class="img-radius align-top m-r-15" style="width: 40px;">
        <div class="d-inline-block">
            <h6 class="m-b-0">Safi</h6>
            <p class="m-b-0">Branch Manager</p>
        </div>
    </div>
    </div>
    <div class="app-modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalDefault.hide()">Close</button> -->
        <button type="button" class="btn btn-primary">Confirm</button>
    </div>
</app-ui-modal>