<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" cardTitle="Hello Card">
            <h5 class="">Staff Detail</h5>
            <hr>
            <dl class="dl-horizontal row">
                <dt class="col-sm-2">Full Name:</dt>
                <dd class="col-sm-10">John Doe</dd>

                <dt class="col-sm-2">Father Name:</dt>
                <dd class="col-sm-10">John Robert</dd>

                <dt class="col-sm-2">Email Address:</dt>
                <dd class="col-sm-10">Johndoe@gmail.com</dd>

                <dt class="col-sm-2">Date of Birth:</dt>
                <dd class="col-sm-10">John</dd>

                <dt class="col-sm-2">Gender:</dt>
                <dd class="col-sm-10">Male</dd>

                <dt class="col-sm-2">CNIC:</dt>
                <dd class="col-sm-10">61101-58565987-7</dd>

                <dt class="col-sm-2">City/Province:</dt>
                <dd class="col-sm-10">Rawapindi/Punjab</dd>

                <dt class="col-sm-2">Mobile Number:</dt>
                <dd class="col-sm-10">+92-3559838931</dd>

                <dt class="col-sm-2">Qualification:</dt>
                <dd class="col-sm-10">Matric, Fsc, BBA</dd>

                <dt class="col-sm-2">Designation:</dt>
                <dd class="col-sm-10">Staff Manager</dd>

                <dt class="col-sm-2">Address:</dt>
                <dd class="col-sm-10">Rawalpindi Punjab pakistan</dd>

            </dl>
            <hr>
           
            <button type="submit" class="btn btn-primary float-right"
               >Edit</button>
            <button type="submit" class="btn btn-primary float-right" [routerLink]="['/staff/staff-list']">Back</button>
        </app-card>
    </div>
</div>