/* You can add global styles to this file, and also import other style files */

@import "scss/style";
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #3a7b22;
}
.nav-pills .nav-link {
    border-radius: 5px;
    border: solid 1px rgba(156, 156, 156, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}
.form-control{
    background-color: #f5fafe;
    margin-top: 5px;
}

/*================================================
Signup Area CSS
=================================================*/
.signup-image {
    height: 100%;
    width: 100%;
    background: {
        // image: url(../../../../../assets/images/auth/image.png);
 image: url(../src/assets/images/auth/image.png);
 
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    img {
        display: none;
    }
}
.signup-content {
    height: 100vh;

    .signup-form {
        text-align: center;
        max-width: 500px;
        margin: {
            left: auto;
            right: auto;
        }
        .logo {
            margin-bottom: 35px;

            a {
                display: inline-block;
            }
        }
        h3 {
            margin-bottom: 0;
            font: {
                size: 30px;
                weight: 600;
            }
        }
        p {
            margin: {
                top: 7px;
                bottom: 0;
            }
        }
        form {
            margin-top: 35px; 
        }
    }
}

.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
.btn-primary,  .btn-primary:disabled{
    color: #fff;
    background-color: #5CB85C;
    border-color: #5CB85C;
    width: 140px;
    margin: 5px;
}
button.dt-button.buttons-print, button.dt-button.buttons-csv.buttons-html5, button.dt-button.buttons-collection.buttons-page-length {
    color: #fff;
    background: #78c478;
    border: #78c478;
    width: 120px;
    height: 35px;
}
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
.multiselect-dropdown .dropdown-btn .selected-item{
    max-width: 300px !important;
}
.btn-outline-primary {
    color: #5cb85c;
    border-color: #5cb85c;
}
.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle{
    background-color: #5cb85c;
    border-color: #5cb85c;
}
