<div class="row">
  <!-- order-card start -->
  <!-- <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="order-card">
      <h5 class="text-left">
        <i class="fa fa-database float-left"></i>
        <span>Rs 10,000</span>
        <p class="color-gray">Total Revenue</p>
      </h5>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="order-card">
      <h5 class="text-left">
        <i class="fa fa-users float-left"></i>
        <span>300</span>
        <p class="color-gray">Available Staff</p>
      </h5>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="order-card">
      <h5 class="text-left">
        <i class="fa fa-utensils float-left"></i>
        <span>36</span>
        <p class="color-gray">Total restaurants</p>
      </h5>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="order-card">
      <h5 class="text-left">
        <i class="fa fa-money-bill float-left"></i>
        <span>Rs 1600</span>
        <p class="color-gray">Tax payable</p>
      </h5>
    </app-card>
  </div> -->
  <!-- [ variant-chart ] start -->
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
      <h6 class="text-white">Total Restaurants</h6>
      <h2 class="text-right text-white"><i class="feather icon-home float-left"></i>
        <span *ngIf="activeClassC==='active'">{{CumulativeCurrentYearData.TotalRestaurants}}</span>
        <span *ngIf="activeClassL==='active'">{{DashboardData.TotalRestaurants}}</span>
      </h2>
      <!-- <p class="m-b-0">Total 3rd party restaurants<span class="float-right">351</span></p> -->
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
      <h6 class="text-white">Total Invoices</h6>
      <h2 class="text-right text-white"><i class="feather icon-tag float-left"></i>
        <!-- <span>{{DashboardData.TotalInvoices}}</span> -->
        <span *ngIf="activeClassC==='active'">{{CumulativeCurrentYearData.TotalInvoices}}</span>
        <span *ngIf="activeClassL==='active'">{{DashboardData.TotalInvoices}}</span>
      </h2>
      <!-- <p class="m-b-0">This Month<span class="float-right">213</span></p> -->
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-yellow order-card">
      <h6 class="text-white">Sales Tax</h6>
      <h2 class="text-right text-white"><i class="feather icon-repeat float-left "></i>
        <!-- <span >Rs. {{DashboardData.TotalSalesTax | number : '1.2-2'}}</span> -->
        <span *ngIf="activeClassC==='active'">{{CumulativeCurrentYearData.TotalSalesTax | number : '1.2-2'}}</span>
        <span *ngIf="activeClassL==='active'">{{DashboardData.TotalSalesTax | number : '1.2-2'}}</span>
      </h2>
      <!-- <p class="m-b-0">This Month<span class="float-right">Rs. 5,032</span></p> -->
    </app-card>
  </div>
  <!-- <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-red order-card">
      <h6 class="text-white">Total Profit</h6>
      <h2 class="text-right text-white"><i class="feather icon-award float-left"></i><span>$9,562</span></h2>
      <p class="m-b-0">This Month<span class="float-right">$542</span></p>
    </app-card>
  </div> -->

  <!-- [ variant-chart ] end -->
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassL}}" (click)=LastYear()>Last Financial
            Year</button>
          <!-- <button type="submit" class="btn btn-outline-primary mr-2">Weekly</button> -->
          <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassC}}" (click)=CurrentYear()>Current
            Financial Year</button>

        </div>
        <div class="col-md-12">
          <apx-chart [series]="chartDB.series" [chart]="chartDB.chart" [xaxis]="chartDB.xaxis" [title]="chartDB.title">
          </apx-chart>
        </div>
      </div>
    </app-card>
  </div>
</div>