<div class="row">

    <div class="col-sm-12">
        <app-card [hidHeader]="true" cardClass="tab-card">
            <h5 class="mb-3">Add Division</h5>
            <ngb-tabset type="pills">
                <ngb-tab title="Add division individual" class="mb-3">
                    <ng-template ngbTabContent>
                        <form action="javascript:" [formGroup]="divisionAddForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Division ID</label>
                                    <input type="number" class="form-control" placeholder="Division ID"
                                        formControlName="DivisionID" max="9">
                                    <div *ngIf="(divisionAddForm.controls['DivisionID'].invalid && divisionAddForm.controls['DivisionID'].touched) || divisionAddForm.controls['DivisionID'].dirty"
                                        class="text-left">
                                        <small *ngIf="divisionAddForm.controls['DivisionID'].errors?.required"
                                            class="text-danger">Division ID
                                            is
                                            required!</small>
                                        <small *ngIf="divisionAddForm.controls['DivisionID'].errors?.pattern"
                                            class="text-danger">Division ID
                                            should
                                            contain 2 digits!</small>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Division Name</label>
                                    <input type="text" class="form-control" placeholder="Division Name"
                                        formControlName="DivisionName" max="9">
                                    <div *ngIf="(divisionAddForm.controls['DivisionName'].invalid && divisionAddForm.controls['DivisionName'].touched) || divisionAddForm.controls['DivisionName'].dirty"
                                        class="text-left">
                                        <small *ngIf="divisionAddForm.controls['DivisionName'].errors?.required"
                                            class="text-danger">Division name
                                            is
                                            required!</small>
                                        <!-- <small *ngIf="divisionAddForm.controls['DivisionName'].errors?.pattern"
                                            class="text-danger">Division name
                                            number should
                                            contain 9 digits!</small> -->
                                    </div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary float-right"
                                [disabled]="!divisionAddForm.valid">ADD</button>
                            <button type="submit" class="btn btn-primary float-right">CANCEL</button>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Add divisions in Bulk">
                    <ng-template ngbTabContent>
                        <form action="javascript:" [formGroup]="divisionsAddCSV" (ngSubmit)="CSVSubmit()">
                            <div class="form-row">
                                <div class="form-group col-md-12 files">
                                    <label>Upload CSV</label>
                                    <input type="file" accept=".CSV" formControlName="DivisionCSV"
                                        (change)="handleFileInput($event.target.files);"
                                        [class.is-invalid]="divisionsAddCSV.controls['DivisionCSV'].invalid && divisionsAddCSV.controls['DivisionCSV'].touched"
                                        required>
                                    <div *ngIf="(divisionsAddCSV.controls['DivisionCSV'].invalid && divisionsAddCSV.controls['DivisionCSV'].touched) || divisionsAddCSV.controls['DivisionCSV'].dirty"
                                        class="text-left">
                                        <small *ngIf="divisionsAddCSV.controls['DivisionCSV'].errors?.required"
                                            class="text-danger">Please
                                            upload the
                                            CSV</small>
                                        <!--question mark(?) is a safe navigation operator-->
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right text-uppercase"
                                [disabled]="!divisionsAddCSV.valid">Upload Now</button>
                            <button type="submit" class="btn btn-primary float-right">CANCEL</button>
                        </form>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </app-card>
    </div>
    <div class="col-sm-12">
        <app-card cardTitle="Division List">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
                style="width: 100%">
                <thead>
                    <tr>
                        <th>Division ID</th>
                        <th>Division Name</th>

                    </tr>
                </thead>
                <tbody *ngIf="Divisions?.length != 0">
                    <tr *ngFor="let division of Divisions">
                        <td>{{division.DivisionID}}</td>
                        <!-- <td>{{post.RestaurantID}}</td> -->
                        <td>{{division.DivisionName}}</td>

                    </tr>

                </tbody>

                <tbody *ngIf="Divisions?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>