<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" cardClass="tab-card">
            <h5 class="mb-3">Add Cities </h5>
            <ngb-tabset type="pills">
                <ngb-tab title="Add Cities  individual" class="mb-3">
                    <ng-template ngbTabContent>
                        <form action="javascript:" [formGroup]="cityAddForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>City ID</label>
                                    <input type="number" class="form-control" placeholder="City ID"
                                        formControlName="CityID" max="9">
                                    <div *ngIf="(cityAddForm.controls['CityID'].invalid && cityAddForm.controls['CityID'].touched) || cityAddForm.controls['CityID'].dirty"
                                        class="text-left">
                                        <small *ngIf="cityAddForm.controls['CityID'].errors?.required"
                                            class="text-danger">City ID
                                            is
                                            required!</small>
                                        <!-- <small *ngIf="cityAddForm.controls['CityID'].errors?.pattern"
                                            class="text-danger">City ID
                                            should
                                            contain 4 digits!</small> -->
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>City Name</label>
                                    <input type="text" class="form-control" placeholder="City Name"
                                        formControlName="CityName" max="9">
                                    <div *ngIf="(cityAddForm.controls['CityName'].invalid && cityAddForm.controls['CityName'].touched) || cityAddForm.controls['CityName'].dirty"
                                        class="text-left">
                                        <small *ngIf="cityAddForm.controls['CityName'].errors?.required"
                                            class="text-danger">City ID
                                            is
                                            required!</small>
                                        <!-- <small *ngIf="cityAddForm.controls['CityName'].errors?.pattern"
                                            class="text-danger">City ID
                                            should
                                            contain 2 digits!</small> -->
                                    </div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary float-right"
                                [disabled]="!cityAddForm.valid">ADD</button>
                            <button type="submit" class="btn btn-primary float-right">CANCEL</button>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Add Cities in Bulk">
                    <ng-template ngbTabContent>
                        <form action="javascript:" [formGroup]="regionsAddCSV" (ngSubmit)="CSVSubmit()">
                            <div class="form-row">
                                <div class="form-group col-md-12 files">
                                    <label>Upload file</label>
                                    <input type="file" #Image accept=".CSV" formControlName="CitiesCSV"
                                        (change)="handleFileInput($event.target.files);"
                                        [class.is-invalid]="regionsAddCSV.controls['CitiesCSV'].invalid && regionsAddCSV.controls['CitiesCSV'].touched"
                                        required>
                                    <div *ngIf="(regionsAddCSV.controls['CitiesCSV'].invalid && regionsAddCSV.controls['CitiesCSV'].touched) || regionsAddCSV.controls['CitiesCSV'].dirty"
                                        class="text-left">
                                        <small *ngIf="regionsAddCSV.controls['CitiesCSV'].errors?.required"
                                            class="text-danger">Please
                                            upload the
                                            CSV</small>
                                        <!--question mark(?) is a safe navigation operator-->
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right text-uppercase"
                                [disabled]="!regionsAddCSV.valid">Upload now</button>
                            <button type="submit" class="btn btn-primary float-right">CANCEL</button>
                        </form>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </app-card>
    </div>

    <div class="col-sm-12">
        <app-card cardTitle="City List">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
                style="width: 100%">
                <thead>
                    <tr>
                        <th>Cities ID</th>
                        <th>Cities Name</th>
                    </tr>
                </thead>
                <tbody *ngIf="Cities?.length != 0">
                    <tr *ngFor="let city of Cities">
                        <td>{{city.CityID}}</td>
                        <!-- <td>{{post.RestaurantID}}</td> -->
                        <td>{{city.CityName}}</td>

                    </tr>

                </tbody>

                <tbody *ngIf="Cities?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>