<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <h5 class="mb-3">Location Config</h5>
            <hr>
            <form action="javascript:" [formGroup]="locationConfigForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Region Name</label>
                        <select id="country" class="form-control" formControlName="RegionName">
                            <option value="">Select the Region</option>
                            <option *ngFor="let region of Regions" [value]="region.RegionName">
                                {{region.RegionID}} - {{region.RegionName}}
                            </option>
                        </select>
                        <div *ngIf="(locationConfigForm.controls['RegionName'].invalid && locationConfigForm.controls['RegionName'].touched) || locationConfigForm.controls['RegionName'].dirty"
                            class="text-left">
                            <small *ngIf="locationConfigForm.controls['RegionName'].errors?.required"
                                class="text-danger">Region Name
                                is
                                required!</small>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Division Name</label>
                        <select id="country" class="form-control" formControlName="DivisionName">
                            <option value="">Select the Division</option>
                            <option *ngFor="let division of Divisions" [value]="division.DivisionName">
                                {{division.DivisionID}} - {{division.DivisionName}}
                            </option>
                        </select>
                        <div *ngIf="(locationConfigForm.controls['DivisionName'].invalid && locationConfigForm.controls['DivisionName'].touched) || locationConfigForm.controls['DivisionName'].dirty"
                            class="text-left">
                            <small *ngIf="locationConfigForm.controls['DivisionName'].errors?.required"
                                class="text-danger">Division Name
                                is
                                required!</small>

                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>District Name</label>
                        <select id="country" class="form-control" formControlName="DistrictName">
                            <option value="">Select the Division</option>
                            <option *ngFor="let district of Districts" [value]="district.DistrictName">
                                {{district.DistrictID}} - {{district.DistrictName}}
                            </option>
                        </select>
                        <div *ngIf="(locationConfigForm.controls['DistrictName'].invalid && locationConfigForm.controls['DistrictName'].touched) || locationConfigForm.controls['DistrictName'].dirty"
                            class="text-left">
                            <small *ngIf="locationConfigForm.controls['DistrictName'].errors?.required"
                                class="text-danger">Division Name
                                is
                                required!</small>

                        </div>
                    </div>

                    <!-- <div class="form-group col-md-4">
                        <label>City Name</label>
                        <select id="country" class="form-control" formControlName="CityName">
                            <option value="">Select the City</option>
                            <option *ngFor="let city of Cities"
                                [value]="city.CityID + city.CityName">
                                {{city.CityID}} - {{city.CityName}}
                            </option>
                        </select>
                        <div *ngIf="(locationConfigForm.controls['CityName'].invalid && locationConfigForm.controls['CityName'].touched) || locationConfigForm.controls['CityName'].dirty"
                            class="text-left">
                            <small *ngIf="locationConfigForm.controls['CityName'].errors?.required"
                                class="text-danger">City name
                                is
                                required!</small>

                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="form-group" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}">
                            <label>City Name</label>
                            <ng-multiselect-dropdown [placeholder]="'Select multiple cities'"
                                [settings]="dropdownSettings" [data]="CityList" formControlName="CityName"
                                name="CityName" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                            <div *ngIf="(locationConfigForm.controls['CityName'].invalid && locationConfigForm.controls['CityName'].touched) || locationConfigForm.controls['CityName'].dirty"
                                class="text-left">
                                <small *ngIf="locationConfigForm.controls['CityName'].errors?.required"
                                    class="text-danger">City name
                                    is
                                    required!</small>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <button type="submit" class="btn btn-primary float-right"
                    [disabled]="!locationConfigForm.valid">ADD</button> -->
                <button type="submit" class="btn btn-primary float-right">ADD</button>
                <button type="submit" class="btn btn-primary float-right">CANCEL</button>
            </form>
        </app-card>
    </div>

    <div class="col-sm-12">
        <app-card cardTitle="Location List">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
                style="width: 100%">
                <thead>
                    <tr>
                        <th>Regions Name</th>
                        <th>Divisions Name</th>
                        <th>Districts Name</th>
                        <th>Cities Name</th>

                    </tr>
                </thead>
                <tbody *ngIf="Locations?.length != 0">
                    <tr *ngFor="let location of Locations">
                        <td>{{location.RegionName}}</td>
                        <!-- <td>{{post.RestaurantID}}</td> -->
                        <td>{{location.DivisionName}}</td>
                        <td>{{location.DistrictName}}</td>
                        <td>{{location.Cities}}</td>

                    </tr>

                </tbody>

                <tbody *ngIf="Locations?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>